h1 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  top: .2rem;
  text-align: left;
  color: white;
}
h2 {
  color: white;
}
h4 {
  color: white;
  text-align: left;
  font-weight: 400;
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}